<center><h1>Patient List</h1></center>
<br>
<center>
  <h3>
    The Total Patient under the Doctor <b><%= current_user.first_name %>'s</b> are <b></b><%= @total %>
  </h3>
</center>
<div style="width: 20rem;">
  <%= form_tag patients_path, :method => "get" do %>
    <%= label_tag(:search, "What Patient you want to Search") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
<br>
<%= link_to 'get me back', root_url, class: "btn btn-sm border border-dark rounded-sm" %>
<i class="bi bi-arrow-return-left"></i>
<br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Patient First Name</th>
    <th scope="col">Patient Last Name</th>
    <th scope="col">Disease</th>
    <th scope="col">Age</th>
  </tr>
  </thead>
  <tbody>
  <% @patients.each do |f| %>
    <% if f.doctor_id == current_user.id %>
      <tr>
        <td>
          <%= link_to f.first_name, patient_path(f) %>
        </td>
        <td>
          <%= link_to f.last_name, patient_path(f) %>
        </td>
        <td>
          <%= f.disease %>
        </td>
        <td>
          <%= f.age %>
        </td>
      </tr>
    <% end %>

  <% end %>
  </tbody>
</table>


