<center>
  <h1>Add the new Patient</h1>
</center>
<%= render "patients/error_msg", obj: @patient %>
<%= form_with model: @patient do |form| %>
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>
  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :age %><br>
    <%= form.text_field :age %>
  </p>
  <p>
    <%= form.label :disease %><br>
    <%= form.text_field :disease %>
  </p>
  <p>
    <%= form.label :gender %><br>
    <%= form.text_field :gender %>
  </p>
  <p>
    <%= form.label :phone_number %><br>
    <%= form.text_field :phone_number %>
  </p>
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>
  <br>
  <%= form.submit %>
  </p>
<% end %>
