<center>
  <h1>Patient Details</h1>
</center>
<br>
<center>
  <%= link_to 'get me back', patients_path, class: "btn btn-sm border border-dark rounded-sm" %>
  <br>
  <div class="card" style="width: 30rem;">
    <div class="card-header">
      Details
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item font_style"><%= @patient.first_name %></li>
      <li class="list-group-item font_style"><%= @patient.last_name %></li>
      <li class="list-group-item font_style"><%= @patient.disease %></li>
      <li class="list-group-item font_style"><%= @patient.age %></li>
      <li class="list-group-item font_style"><%= @patient.gender %></li>
      <li class="list-group-item font_style"><%= @patient.phone_number %></li>
      <li class="list-group-item font_style"><%= @patient.address %></li>
    </ul>
  </div>
  <br>
</center>
