<br>
<H2>Welcome <%= current_user.first_name %> <%= current_user.last_name %> in Patient Doctor App</H2>
<H2><%= current_user.first_name %> <%= current_user.last_name %> is a <%= current_user.specialization %></H2>