<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Patient Doc ", root_url, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li>
          <%= link_to "LogOut", destroy_user_session_path, data: {
            "turbo-method": :delete
          } ,class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Add Patient", new_patient_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "See Patient", patients_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Go to Admin Dashboard", new_admin_user_session_path, class: "nav-link" %>
      </li>

    </ul>
  </div>
</nav>